body{
    position: relative;
    text-align: center;
}

.task{
    list-style-type: circle;
    text-align: left;
}

#Liste{
    box-sizing: border-box;
    background-color: white;
    border:  2px solid black;
    border-radius: 1em 1em 1em 1em;
    margin:  20px auto;
    padding: 2em;
}

#Category1{
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    margin-top: -10px; /* Moves the legend up */
}

.date{
    text-align: left;
}

.Deadline{
    float: right;
}

#addtask{
    float: left;
    width: 50px;
    border: 1px solid black;
}
    
#changetask{
    float: center;
    width: 50px;
    border: 1px solid black;
}

#deletetask{
    float: right;
    width: 50px;
    border: 1px solid black;
}