html, body {
    height: 100%;
    margin: 0 8px;
}

body {
    text-align: center;
    display: grid;
    grid-template-rows: min-content min-content auto;
}

#div1
{
    float: left; 
    width: 50%; 
    margin-right: 2%; 
    padding: 20px; 
    background: #d10b0b; 
    box-sizing: border-box;
}

#div2
{
    margin: auto;
}

span {
    font-size: 6em;
    position: absolute;
    border: thin dotted black;
}